


.lineWrapper{
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(0,0,1,0.5);
}


.lineWrapper:before, .lineWrapper:after{
    flex-grow: 1;
    display: inline-block;
    content: '';
    height: 1px;
    background: currentColor;
    margin: 2%;
}
.custom-file-upload {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .custom-file-upload img {
    width: 100%;
    height: auto;
    border-radius:100px
  }
  
  .custom-file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 1;
    cursor: pointer;
  }
  