
.lineWrapper{
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(0,0,1,0.5);
}


.lineWrapper:before, .lineWrapper:after{
    flex-grow: 1;
    display: inline-block;
    content: '';
    height: 1px;
    background: currentColor;
    margin: 2%;
}



