@font-face {
    font-family: "stratos";
    src: url("./fonts/Stratos-Light.ttf");
    /* src: url("./fonts/stratosweb-thinitalic-TRIAL-BF63c604b5657b4.woff"); */
  }
  
  .pagina  {
    font-family: "stratos";
  }

  .pagina p{
    font-family: "stratos";
  }

  .animacion {
    animation-name: mover;
    animation-duration: 22s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
    color:white
  }

  .section1 {
    height: 50vh;
}

  @keyframes mover {
    0% { transform: translateX(0); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(0); }
  }
